 body {
    margin: 0;   
}

.wrapper {
        max-width: 960px;
        max-height: 960px;
        background: #ffffff;
}

.header {
    background: #ffffff;
    width: 100%;
    height: 60px;
    border-bottom-color: #666666;

}       

#YourName {
    float: left;
    padding: 0 0 0 0;
    width: 200px;
    height: 60px;
    margin-left: 40px;
    color: white;
    background-color:#4aaaa5;
    text-align: center; 
    font-size: 18pt;
}
.nav {
    float: right;
    
}
.about_me { 
    padding: 30px 30px 30px 30px; 
    color: #4aaaa5;
    margin-left: 20px;
    font-size: 35pt;
    font-style: bold;
}
    
    
#bio-img{
        float: left;
        width: 200px;
        height: 200px;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #eee;
}

p{
    color: black;
    background: white;
    font-size: 16pt;

}

#bottom {
    width: 100%;
    background: #4aaaa5;
    height: 22%;
}

footer{
    padding: 10px;
    clear: both;
    background: grey;
    width: 100%;
    text-align: center;
    
}